.authenticate {
    max-width: 680px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 5px;
    box-sizing: border-box;
}

.form__btn {
    width: 100%;
    height: 65.25px;
    background-color: #ff5555;
    color: white;
    font-size: 26px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 40px;
}

.link {
    display: block;
    margin-top: 30px;
    text-align: center;
    color: #0073cc;
    font-size: 20px;
}

@media screen and (max-width: 850px) {

    .authenticate {
        max-width: 100%;
        margin: 20px auto;
        padding: 24px 16px;
    }

    .form__btn {
        height: 56px;
        font-size: 20px;
        margin-top: 24px;
    }

    .link {
        margin-top: 20px;
        font-size: 16px;
    }
}