*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

select {
    border: none;
    outline: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
}

.header__logo img {
    width: 370px;
    height: 36px;
}

.header__search {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header__search input {
    width: 500px;
    max-width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding: 0 20px;
    font-size: 24px;
}

.header__search input::placeholder {
    color: #000;
}

.header__nav {
    width: 463px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav li {
    font-size: 24px;
}

.header__nav a,
.header__logout {
    color: #fff;
    text-decoration: none;
}

.header__nav li:hover a,
.header__logout:hover {
    font-weight: bold;
}

.header__btn {
    padding: 0;
}

.header__btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}

.header__btn:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.container {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 20px;
}

.container__title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}

.btn {
    display: flex;
    align-items: center;
    background-color: #FF5555;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    justify-content: center;
    width: 100%;
    max-width: 450px;
    height: 45px;
}

.btn:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
}

.btn--big {
    width: 100%;
    height: 60px;
    font-size: 20px;
}

.btn2 {
    align-items: center;
    border: 2px solid #f55;
    border-radius: 10px;
    color: #f55;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

.btn2:hover {
    cursor: pointer;
}

.btn2-input {
    display: none;
}

.center {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
    padding: 50px 0;
}

.page__title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.entry__name {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 10px 0;
}

.input {
    padding: 5px;
    width: 100%;
    height: 45px;
}

.disable {
    background-color: #ccc !important;
    color: #666 !important;
}

.form__group {
    margin-bottom: 30px;
}

.form__label {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.form__input {
    width: 100%;
    height: auto;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.form__error {
    color: #FF5555;
    margin-top: 0;
    font-size: 25px;
}

@media screen and (max-width: 850px) {
    header {
        padding: 0 20px;
    }

    .header__logo img {
        width: 280px;
    }

    .header__search {
        flex: 1;
    }

    .header__search input {
        width: 360px;
        height: 45px;
        font-size: 18px;
    }

    .header__nav {
        width: auto;
    }

    .header__nav-list {
        gap: 20px;
    }

    .header__btn a {
        width: 90px;
        height: 45px;
        font-size: 16px;
    }

    .header__nav li {
        font-size: 20px;
    }
}