.border {
    width: 100%;
    max-width: 1540px;
    margin: 40px auto 0;
    border-bottom: 2px solid #5f5f5f;
}

.border__list {
    display: flex;
    justify-content: flex-start;
    gap: 48px;
    padding: 20px 0;
    padding-left: 130px;
    list-style: none;
    margin: 0;
}

.border__list li {
    font-weight: bold;
    font-size: 24px;
}

.border__list a {
    text-decoration: none;
    color: #000;
}

.border__tab--active a {
    color: #ff0000;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    gap: 35px 20px;
    max-width: 1374px;
    margin: 80px auto;
    justify-content: center;
}

.items-row {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.item {
    width: 290px;
    height: 320px;
    margin: 0 auto;
}

.item__img {
    width: 290px;
    height: 290px;
    border-radius: 4px;
    background: #d0d0d0;
    overflow: hidden;
}

.item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__name {
    font-size: 25px;
}

.sold {
    position: relative;
}

.sold::before {
    content: "";
    top: 0;
    left: 0;
    border-bottom: 4em solid transparent;
    border-left: 4em solid #c12748;
    position: absolute;
    z-index: 100;
}

.sold::after {
    content: "Sold";
    display: block;
    top: 1em;
    transform: rotate(-45deg);
    color: white;
    left: 0.2em;
    position: absolute;
    z-index: 101;
}

@media screen and (max-width: 1399px) {
    .items {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        gap: 24px 16px;
        max-width: 100%;
        margin: 30px auto;
    }

    .item__img {
        height: 230px;
    }
}

@media screen and (max-width: 850px) {
    .items {
        grid-template-columns: repeat(2, minmax(160px, 1fr));
        gap: 20px 12px;
    }

    .border__list {
        padding-left: 0;
        justify-content: center;
        gap: 32px;
    }
}