.verify {
    text-align: center;
    margin-top: 200px;
}

.verify__message {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.verify__primary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 257px;
    height: 69px;
    margin: 62px auto 0;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #D9D9D9;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.verify__resend-form {
    margin-top: 52px;
}

.verify__resend-link {
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    color: #0073CC;
    text-decoration: none;
    cursor: pointer;
}

.verify__resend-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 850px) {
    .verify {
        padding-top: 10px;
    }

    .verify__message {
        font-size: 20px;
    }

    .verify__primary-btn {
        width: 220px;
        height: 60px;
        font-size: 20px;
    }

    .verify__resend-link {
        font-size: 18px;
    }
}